
<div class="container mt-5">
  <div class="progress mb-5 mt-5">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100"
    aria-valuemin="0" aria-valuemax="100" style="width:100%; background-color:#b99cfc; color: black; font-size: 15px">
      <span>100%</span>
    </div>
  </div>
  <h1 style="font-family:raleway; font-size:40px;">Get the music matchmaking started!</h1>

  <% all_genres = [
  "acoustic",
  "afrobeat",
  "alt-rock",
  "alternative",
  "ambient",
  "anime",
  "black-metal",
  "bluegrass",
  "blues",
  "bossanova",
  "brazil",
  "breakbeat",
  "british",
  "cantopop",
  "chicago-house",
  "children",
  "chill",
  "classical",
  "club",
  "comedy",
  "country",
  "dance",
  "dancehall",
  "death-metal",
  "deep-house",
  "detroit-techno",
  "disco",
  "disney",
  "drum-and-bass",
  "dub",
  "dubstep",
  "edm",
  "electro",
  "electronic",
  "emo",
  "folk",
  "forro",
  "french",
  "funk",
  "garage",
  "german",
  "gospel",
  "goth",
  "grindcore",
  "groove",
  "grunge",
  "guitar",
  "happy",
  "hard-rock",
  "hardcore",
  "hardstyle",
  "heavy-metal",
  "hip-hop",
  "holidays",
  "honky-tonk",
  "house",
  "idm",
  "indian",
  "indie",
  "indie-pop",
  "industrial",
  "iranian",
  "j-dance",
  "j-idol",
  "j-pop",
  "j-rock",
  "jazz",
  "k-pop",
  "kids",
  "latin",
  "latino",
  "malay",
  "mandopop",
  "metal",
  "metal-misc",
  "metalcore",
  "minimal-techno",
  "movies",
  "mpb",
  "new-age",
  "new-release",
  "opera",
  "pagode",
  "party",
  "philippines-opm",
  "piano",
  "pop",
  "pop-film",
  "post-dubstep",
  "power-pop",
  "progressive-house",
  "psych-rock",
  "punk",
  "punk-rock",
  "r-n-b",
  "rainy-day",
  "reggae",
  "reggaeton",
  "road-trip",
  "rock",
  "rock-n-roll",
  "rockabilly",
  "romance",
  "sad",
  "salsa",
  "samba",
  "sertanejo",
  "show-tunes",
  "singer-songwriter",
  "ska",
  "sleep",
  "songwriter",
  "soul",
  "soundtracks",
  "spanish",
  "study",
  "summer",
  "swedish",
  "synth-pop",
  "tango",
  "techno",
  "trance",
  "trip-hop",
  "turkish",
  "work-out",
  "world-music"
]
%>
<script src="https://cdn.lordicon.com/bhenfmcm.js"></script>    <section class="mt-5" data-controller="spotify-auth">
  <style>
  .lord-icon {
    width: 70px;
    height: 70px;
  }
</style>
<div>
  <lord-icon style="position: absolute; top: 390px; left: 300px;"
      src="https://cdn.lordicon.com/mmspidej.json"
      class="lord-icon"
      trigger="loop"
      delay="2000"
      colors="primary:#121331,secondary:#08a88a"
      style="width:200px;height:200px";>
  </lord-icon>
</div>
      <div
        class="spotify-env"
        data-client-id="<%= ENV["client_id"] %>"
        data-client-secret="<%= ENV["client_secret"] %>"
        <%# data-spotify-auth-client-id-value="testing" %>
      ></div>
<div class="d-flex" style="flex-direction: column; position: relative; margin-bottom: 50px;">
  <div style="border-top: 2px solid black; width: 100%; position: absolute; top: -10px;"></div>
  <h3 class="mb-4" style="font-family:lobster; margin-top:30px; font-weight:900;">Connect via Spotify</h3>
  <h5 class="mb-2" style="font-family:raleway; font-weight:900;">We'll take your favorite and find people that share a similar taste.</h5>
  <div style="border-bottom: 2px solid black; width: 100%; position: absolute; bottom: -10px;"></div>
</div>

      <div data-spotify-auth-target="auth">
          <div
            class="d-flex btn btn-success my-2" style="
            justify-content: center;
            margin: 30px;
            border-radius: 30px"
            data-action="click->spotify-auth#linkToSpotify"
            <%# click->spotify-auth#submitForm MAYBE ADD TO THE ABOVE LISTENERS REMEMBER TO UNCOMMENT IN THE SPOTIFY-AUTH AS WELL %>
          > <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_CMYK_White.png" alt="Spotify connect" style="width:150px;border-radius:5px;"></div>
      </div>

      <div class="top-genres mt-5 d-none" data-spotify-auth-target="genres">
        <h5>My Top 5 Genres</h5>
        <div
          class="btn btn-success my-2"
          data-action="click->spotify-auth#getTopGenres"
        >Get Your Top 5 Genres from Spotify</div>
        <div class="top-genres-list mt-2">
          <% current_user.top_genres.each do |genre| %>
            <p><%= genre.genre %></p>
          <% end %>
        </div>
      </div>
      <div class="mt-5 p-2" style="background-color: #b99cfc;
    color: black;
    font-family: lobster;
    box-shadow: 5px 10px; text-align:center;" data-controller="toggle-genre">
        <strong><h5>Don't have a Spotify account?</h5></strong>
        <button class="btn btn-light mt-2" style="font-family: raleway; font-weight: 900; margin: 20px;" data-action="click->toggle-genre#toggleForm">Select your favorite genres</button>
        <div data-toggle-genre-target="genreForm" class="d-none" style="font-family:raleway;">
          <%# <strong><h5 class="mt-4" style="">Select your top 5 genres to get the magic matchmaking started instead</h5></strong> %>
          <%= simple_form_for(@top_genre) do |f| %>
            <%= f.input :genre, collection: all_genres, input_html: {multiple: true, data: {controller: "tom-select", tom_select_options_value: { maxItems: 5 } }} %>
            <%= f.submit "Create profile", class: "btn btn-dark" %>
          <% end %>
        </div>
      </div>

    </section>
</div>
