<%# <div class="d-flex navigation justify-content-between"> %>
  <%# link_to edit_user_path(@profile.user) do %>
    <%# <i class="fa-solid fa-pen" style="color: #4c4c4c;"></i> %>
  <%# end %>
  <%# link_to destroy_user_session_path, data: { turbo_method: :delete } do %>
    <%# <i class="fa-solid fa-power-off" style="color: #4c4c4c;"></i> %>
  <%# end %>
<%# </div> %>

<div class="card" data-hide-cards-target="cards">

  <%# <div id="img-artist">
    <img src="https://extra-images.akamaized.net/image/0a/o/2018/12/25/0a5af3a0210b5d3e98f7ea85b67a2fb3_md.jpg" alt="Favourite Artist">
  </div> %>

  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <% @profile.user.photos.each_with_index do |photo, index| %>
        <div class="user-image-wrapper carousel-item <%= "active" if index == 0 %>">
          <%= cl_image_tag photo.key, class: "d-block" %>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="profile-page profile-content">
    <div class="profilename">
      <%= @profile.user.name %>
    </div>

    <div class="description">
      <h4>A little about me...</h1>
      <div class="card-section bubble">
        <%= @profile.user.description %>
      </div>
    </div>

    <h6 class="prompt">On Repeat</h6>
    <div class="card-section">
      <%= @profile.user.on_repeat %>
    </div>

    <h6 class="prompt">Theme Song</h6>
    <div class="card-section">
      <%= @profile.user.all_time_favorite %>
    </div>

    <h6 class="prompt">Go To Karaoke</h6>
    <div class="card-section">
      <%= @profile.user.go_to_karaoke %>
    </div>

    <h6 class="prompt">Top Genres</h6>
    <div class="card-section">
      <% @profile.user.top_genres.each do |genre| %>
        <p><%= genre.genre %></p>
      <% end %>
    </div>

  <div class="top-tracks mt-5 spotify-user-data" data-controller="spotify-auth">
    <h5>My Top 5 Tracks</h5>
    <div
      class="btn btn-success my-2"
      <%# data-action="click->spotify-auth#getTopTracks" %>
    >
      See Tracks
    </div>

    <% @profile.user.top_tracks.each do |track| %>
      <%# <p>track.track</p> %>
      <p>
        <div class="d-flex">
          <div data-action="click->spotify-auth#playTrack" data-track-id="<%= track.spotify_ref %>" class="btn btn-primary"><%= track.track %>
          </div>
          <div data-action="click->spotify-auth#pauseTrack" class="btn btn-danger mx-3">Stop</div>
        </div>
      </p>
    <% end %>
  </div>

  <div class="mb-5"></div>
</div>

<%= render 'shared/footer' %>
