<div class="container" data-controller="sign-up">
  <%# <i class="fa-regular fa-envelope" id="email-icon"></i> %>
  <div class="centered-content">

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs custom-form-style" data-sign-up-target="input">
        <%= f.input :name,
                    required: true,
                    label: "What's your first name?",
                    label_html: { class: "label-size" },
                    autofocus: true,
                    input_html: { class: "text-size", autocomplete: "name" },
                    placeholder: "First name"
                    %>
      </div>

      <div class="users_email d-none" class="form-inputs custom-form-style" data-sign-up-target="input">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    label: "What's your email?",
                    label_html: { class: "label-size" },
                    input_html: { class: "text-size", autocomplete: "email" },
                    placeholder: "email@example.com"
                    %>
      </div>

      <div class="users_birthday d-none" class="form-inputs custom-form-style" data-sign-up-target="input" >
        <%= f.input :date_of_birth,
                    # as: :string,
                    required: true,
                    autofocus: true,
                    label: "What's your date of birth?",
                    label_html: { class: "label-size", autocomplete: "birth_year" },
                    input_html: { data: { controller: "flatpickr" } }
                    %>
      </div>
      <div class="form-inputs d-none custom-form-style" id="page4" data-sign-up-target="input" >
        <%= f.input :password,
                    required: true,
                    label: "Create Password",
                    label_html: { class: "password-size" },
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    label: "Reenter Password",
                    label_html: { class: "password-size" },
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-inputs custom-form-style d-none" data-sign-up-target="input">
        <%= f.input :location,
                    required: true,
                    label: "Please enter your location below.",
                    label_html: { class: "label-size" },
                    autofocus: true,
                    input_html: { class: "text-size", autocomplete: "name" },
                    placeholder: "e.g. London"
                    %>
      </div>

      <div class="form-inputs gender-form-style d-none" data-sign-up-target="input">
        <%= f.input :gender,
                    required: true,
                    label: "Which gender best describes you?",
                    label_html: { class: "label-size" },
                    autofocus: true,
                    input_html: { class: "text-size", autocomplete: "name" },
                    placeholder: ""
                    %>
        <form>
          <label for="gender">Gender:</label>
          <select name="gender">
            <option value="">Please select one…</option>
            <option value="female">Female</option>
            <option value="male">Male</option>
            <option value="non-binary">Non-Binary</option>
            <option value="other">Other</option>
            <option value="Prefer not to answer">Perfer not to Answer</option>
          </select>
        </form>
      </div>

      <div class="form-inputs custom-form-style d-none" data-sign-up-target="input">
        <%= f.input :on_repeat,
                    required: true,
                    label: "What's the one song you could listen to on repeat for a lifetime?",
                    label_html: { class: "label-size" },
                    autofocus: true,
                    input_html: { class: "text-size", autocomplete: "name" },
                    placeholder: ""
                    %>
      </div>

      <div class="form-inputs custom-form-style d-none" data-sign-up-target="input">
        <%= f.input :all_time_favorite,
                    required: true,
                    label: "If your life had a theme song, what would it be?",
                    label_html: { class: "label-size" },
                    autofocus: true,
                    input_html: { class: "text-size", autocomplete: "name" },
                    placeholder: ""
                    %>
      </div>

      <div class="form-inputs custom-form-style d-none" data-sign-up-target="input">
        <%= f.input :go_to_karaoke,
                    required: true,
                    label: "What's your go-to karaoke tune?",
                    label_html: { class: "label-size" },
                    autofocus: true,
                    input_html: { class: "text-size", autocomplete: "name" },
                    placeholder: ""
                    %>
      </div>
      <div class="form-inputs custom-form-style d-none" data-sign-up-target="input">
        <%= f.input :description,
                    required: true,
                    label: "Tell us a little about yourself!",
                    label_html: { class: "label-size" },
                    autofocus: true,
                    input_html: { class: "text-size", autocomplete: "name" },
                    placeholder: ""
                    %>
      </div>


      <div class="form-actions d-none"  id="page4" data-sign-up-target="input">
        <%= f.button :submit %>
      </div>

    <% end %>
    <div class="d-flex justify-content-between w-100" >
      <i class="fa-solid fa-backward" style="color: #83EBEC;" id="next-icon" data-action="click->sign-up#prevContent"></i>

      <i class="fa-solid fa-forward" style="color: #83EBEC;" id="next-icon" data-action="click->sign-up#nextContent"></i>
    </div>
</div>
    <%# <%= render "devise/shared/links" %>
