<div class="chatrooms-container">

    <%# view all your matches current posts %>
  <%# <div class="card" id = "card-in">
      <% @chatrooms.each do |chatroom| %>
        <%# <div class="socials"> %>
          <%# <% @socials.each do |social| %>
            <%# <% social.keys.each do |user| %>
              <%# <%= link_to user.name, user_socials_path(user) %>
            <%# <% end %>
          <%# <% end %>
          <%# <% end %>
        <%# </div> %>

  <h1 class="my-matches">My matches 🎶</h1>

    <% if @chatrooms.length > 0 %>
      <div class="card" id="card-in">
        <% @chatrooms.each do |chatroom| %>
          <div class="recipient-info" style="margin-top: 20px;">
            <% if User.find(chatroom.swipe.swiper_id) == current_user %>
              <%= cl_image_tag User.find(chatroom.swipe.swipee_id).photos[0].key, class: 'recipient-img' %>
              <%= link_to User.find(chatroom.swipe.swipee_id).name, chatroom_path(chatroom) %>
            <% else %>
            <%= cl_image_tag User.find(chatroom.swipe.swiper_id).photos[0].key, class: 'recipient-img' %>
              <%= link_to User.find(chatroom.swipe.swiper_id).name, chatroom_path(chatroom) %>
            <% end %>
            <% if !chatroom.messages.empty? %>
              <p class='last-message'>
                <%=  chatroom.messages.last.content.first(20) %>
              </p>
            <% end %>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="match-end-card d-flex" >
          <p style="font-family: raleway">Don't have many matches to chat to?😶</p></div>
      </div>
    <% end %>
</div>


<%= render 'shared/footer' %>
