<div class="chatrooms-container">

  <h1>My matches</h1>
    <%# <%= render 'socials/create_post' %>
    <%# view all your matches current posts %>
  <div class="card" id = "card-in">
      <% @chatrooms.each do |chatroom|%>
        <div class="socials">
          <% @socials.each do |social| %>
            <% social.keys.each do |user| %>
              <%= link_to user.name, user_socials_path(user) %>
            <% end %>
            <%# social[chatroom.match.swipe.swipee].length %>
            <%# social[chatroom.match.swipe.swipee].each do |photo| %>
              <%# link_to photo.user.name, user_socials_path(photo.user) %>
              <%# if photo.photo.attached? %>
                <%# cl_image_tag photo.photo.key %>
              <%# end %>
            <%# end %>
          <% end %>
        </div>

        <a class = "name-of"href= "<%= chatroom_path(chatroom) %>"><%= User.find(chatroom.match.swipe.swipee_id).name%></a>
      <% end %>
  </div>
</div>

<%= render 'shared/footer' %>
