<%# <div class="cards" data-controller="hide-cards"> %>
<% unless @users[-1] == user %>

      <div data-user="<%= user.id %>" class="users-container">
        <div class="card" data-hide-cards-target="cards">
          <%# <div id="img-artist">
            <img src="https://extra-images.akamaized.net/image/0a/o/2018/12/25/0a5af3a0210b5d3e98f7ea85b67a2fb3_md.jpg" alt="Favourite Artist">
          </div> %>
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <% user.photos.each_with_index do |photo, index| %>
                <div class="user-image-wrapper carousel-item <%= "active" if index == 0 %>">
                  <%= cl_image_tag photo.key, class: "d-block" %>
                </div>
              <% end %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

          <div class="profile-namea">
            <%= user.name %>
          </div>

          <div class="swipe-btns">
            <div class="swipe-left">
              <form action="/users/<%= user.id %>/dislike" method="post">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <button type="submit">
                  <i class="fa-solid fa-xmark" style="font-size: 50px; position: relative; z-index: 999"></i>
                </button>
              </form>
            </div>
            <div class="swipe-right">
              <form action="/users/<%= user.id %>/like" method="post">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <button type="submit">
                  <i class="fa-regular fa-heart" style="position: relative; z-index: 999"></i>
                </button>
              </form>
            </div>
          </div>
        <div class="padding">

          <h4 class="prompt">A little about me</h4>
          <div class="card-section">
            <%= user.description %>
          </div>

          <h4 class="prompt">On Repeat</h4>
          <div class="card-section">
            <%= user.on_repeat %>
          </div>

          <h4 class="prompt">On Repeat</h4>
          <div class="card-section">
            <%= user.on_repeat %>
          </div>

          <h4 class="prompt">Theme Song</h4>
          <div class="card-section">
            <%= user.all_time_favorite %>
          </div>

          <h4 class="prompt">Go To Karaoke</h4>
          <div class="card-section">
            <%= user.go_to_karaoke %>
          </div>
        </div>
         </div>
        </div>
      <% else %>
         <div class="match-end-card"><p>No more matches available. Sorry ! 😶</p></div>
    <% end %>



        <%# <%= render 'shared/footer' %>
