<%# form to add new profile %>
<div class="container">
  <div class="empty">
<h1 style="text-decoration: underline;">Update my profile</h1>

  <%= simple_form_for(@user) do |f| %>
    <%= f.input :name %>
    <%= f.input :date_of_birth, html5: true %>
    <%= f.input :gender %>
    <%= f.input :photos %>
    <%= f.input :location %>
    <%= f.input :description %>
    <%= f.input :on_repeat %>
    <%= f.input :all_time_favorite %>
    <%= f.input :go_to_karaoke %>
    <%= f.submit %>
  <% end %>
  </div>
</div>
    <%= render 'shared/footer' %>
