  <div class="card" data-hide-cards-target="cards" data-controller="spotify-auth">

    <%# <div id="img-artist">
      <img src="https://extra-images.akamaized.net/image/0a/o/2018/12/25/0a5af3a0210b5d3e98f7ea85b67a2fb3_md.jpg" alt="Favourite Artist">
    </div> %>

    <div class="user-image-wrapper">
      <% if current_user.photos.any? %>
        <%= cl_image_tag current_user.photos[0].key %>
      <% end %>
    </div>

    <div class="profile-page profile-content">
        <div class="profilename">
          <%= current_user.name %>
        </div>

        <div>
          <h2 class="prompt">A little about me...</h2>
          <div class="card-section">
            <%= current_user.description %>
          </div>
        </div>

        <h4 class="prompt">On-repeat song:</h4>
        <div class="card-section">
          <%= current_user.on_repeat %>
        </div>

        <h4 class="prompt">If my life had a theme song...</h4>
        <div class="card-section">
          <%= current_user.all_time_favorite %>
        </div>

        <h4 class="prompt">My Go To Karaoke 🎤</h4>
        <div class="card-section">
          <%= current_user.go_to_karaoke %>
        </div>

        <h4 class="prompt">Top Genres</h4>
        <div class="card-section genres-list">
          <% current_user.top_genres.each do |genre| %>
            <p><%= genre.genre %></p>
          <% end %>
        </div>
    </div>
    <section class="spotify-auth mt-2" data-controller="spotify-auth">
      <div
        class="spotify-env"
        data-client-id="<%= ENV["client_id"] %>"
        data-client-secret="<%= ENV["client_secret"] %>"
        <%# data-spotify-auth-client-id-value="testing" %>
      ></div>

      <div class="spotify-connect-auth d-none" data-spotify-auth-target="auth">
        <h5>Connect My Account to Spotify</h5>
        <div
          class="btn my-2"
          data-action="click->spotify-auth#linkToSpotify">Connect to Spotify</div>
      </div>
      <div data-spotify-auth-target="genres"></div>

      <div class="spotify-user-data spotify">
        <div class="top-genres mt-2">
          <%# <h5>My Top 5 Genres</h5> %>
          <div
            class="btn my-2"
            data-action="click->spotify-auth#getTopGenres"
          >Update My Genres</div>
          <div class="top-genres-list mt-2 d-none">
            <% current_user.top_genres.each do |genre| %>
              <p><%= genre.genre %></p>
            <% end %>
          </div>
        </div>
        <div class="top-artists mt-3">
          <div
            class="btn my-2"
            data-action="click->spotify-auth#getTopArtists"
          >My Top 5 Artists</div>
        </div>
        <div class="top-tracks mt-3">
          <div
            class="btn my-2"
            data-action="click->spotify-auth#getTopTracks"
          >My Top 5 Tracks</div>
        </div>
        <div class="my-devices mt-3">
          <%# <h5>My Devices</h5> %>
        </div>
      </div>
    </section>
    <div class="edit-logout d-flex justify-content-between">
        <%= link_to "Reconnect Spotify", "top_genres/new", class: "decoration-color" %>
        <%= link_to "Edit profile", edit_user_path(current_user), class: "decoration-color" %>
        <%= link_to "Log out", destroy_user_session_path, class: "decoration-color", data: {turbo_method: :delete} %>
    </div>
  </div>

<%= render 'shared/footer' %>
