<div class="footer-main d-flex">
  <div>
    <%=  link_to users_path do %>
    <%= image_tag "jam-logo.png", class: "f-logo" %>
    <% end %>
  </div>
  <div>
    <%= link_to chatrooms_path do%>
    <i class="fa-solid fa-envelope" style="color: #ffffff;"></i>
    <% end %>
  </div>
  <div>
    <% if user_signed_in? %>
      <%= link_to profile_path(current_user.id) do %>
        <i class="fa-solid fa-user" style="color: #ffffff;"></i>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path do %>
        <i class="fa-solid fa-user" style="color: #ffffff;"></i>
      <% end %>
    <% end %>
  </div>
</div>
