<div class="landing-pages" data-controller="landing-page-scroll">
  <div class="landing-page">
    <%= image_tag "Jam Image.jpeg" %>

    <div class="landing-page-typed" data-controller="typedjs">
    </div>

    <%# <div class="landing-page-typed"> %>
      <%# video_tag "jam_logo_animation.mp4", autoplay: true %>
    <%# </div> %>

    <div class="signup-button">
      <%= link_to "Sign Up", new_user_registration_path, class: "sign-up-button btn btn-primary" %>
    </div>

    <div class="login-button">
      <% if current_user %>
        <%= link_to "Log Out", destroy_user_session_path, class: "log-in-button btn btn-primary", data: { turbo_method: :delete } %>
      <% else %>
        <%= link_to "Log In", new_user_session_path, class: "log-in-button btn btn-primary" %>
      <% end %>
    </div>

    <%# <button class="btn scroll-down-btn" data-action="click->landing-page-scroll#scrollDown">Go Down<button> %>

    <div class="landing-page-animation">
      <%= image_tag "black image.png" %>
    </div>
  </div>

  <div class="second-page" data-landing-page-scroll-target="secondPage">
    <div class="second-page-bg">
      <%= image_tag "jam second.jpeg"%>
    </div>

    <div class="second-page-content">
      <h2>"Notes of connection in every swipe"</h2>
      <h3> Melodic Approach:</h3>

      <div class="jam-text">
        <h4>Tune in to find your beat with people who share your music taste.</h4>
      </div>

      <%# <button class="btn scroll-up-btn" data-action="click->landing-page-scroll#scrollUp">Go Up</button> %>
    </div>
  </div>
</div>
