<div class="" data-controller="socials">
      <%# <%= render 'socials/create_post'%>
  <div class="socials" data-socials-target="input">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <% @all_socials.each_with_index do |social, index| %>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= index %>" class="active" aria-current="true" aria-label="Slide <%= index + 1 %>"></button>
        <% end %>
      </div>

      <div class="carousel-inner">
        <div>
          <%= link_to chatrooms_path do %>
            <i class="fa-solid fa-xmark exit"></i>
          <% end %>
        </div>

        <% @all_socials.each_with_index do |social, index| %>
          <% if social.photo.attached? %>
            <% if index == 0 %>
              <div class="carousel-item active">
            <% else %>
              <div class="carousel-item">
            <% end %>
              <div class="name-cont d-flex">
                <%= cl_image_tag social.user.photos[0].key, class: 'recipient-img' %>
                <h3 class="social-name" style="margin-top: 20px; margin-left: 10px;"><%= social.user.name %></h3>
              </div>
              <%= cl_image_tag social.photo.key, height: 845, width: 400, crop: :fill %>
              <% if social.user == current_user %>
                <%= link_to social_path(social), data: {turbo_method: :delete, turbo_confirm: "Are you sure to delete this post?"} do %>
                  <i class="fa-solid fa-trash"></i>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
<div>
  <%= link_to new_user_social_path(current_user) do %>
    <button class="post-button">Add a pic</button>
  <% end %>
</div>
    </div>
  </div>
</div>
