<!DOCTYPE html>
<html>
  <head>
    <title>Jam</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+New+Tai+Lue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <%# <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
    <lord-icon
        src="https://cdn.lordicon.com/pnhskdva.json"
        trigger="click"
        colors="primary:#121331"
        state="intro"
        style="width:28px;height:28px">
    </lord-icon> %>
    <%# <script src="spotify_auth.js"></script> %>


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div data-controller="message-notifications">
    </div>
    <%= yield %>
  </body>
</html>
